.small {
    width: 7.5vw; 
}


.top-left {
    position: absolute;
    top:0 ;
    left:0 ;
    transform: rotate(135deg);
}
.top-right {
    position: absolute;
    top:0 ;
    right:0 ;
    transform: rotate(215deg);
}
.bot-left{
    position: absolute;
    bottom: 0;
    left:0;
    transform: rotate(45deg);
}
    
.bot-right{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-45deg);
}

.rotating-plane {
    
    position: relative;
    width: 30vw;
    height: 30vw;
    
}
.skew-plane {
    left:20%;
    top:30%;
    position: absolute;

}
.ring-center-text {
    left:30%;
    top:30%;
    position:absolute;
 
}
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    
}

.rotating {
    animation : rotating 20s linear infinite;
}

@keyframe skewing {
    to {
        transform: skew(20deg, 25deg);
    }
}

.skewed {
 /* make sure it stays put so we can see it! */

    animation: skewing 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);  
}


